
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue Regular.eot');
  src: local('☺'), url('../fonts/BebasNeue Regular.woff') format('woff'), url('fonts/BebasNeue Regular.ttf') format('truetype'), url('fonts/BebasNeue Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.eot');
  src: local('☺'), url('../fonts/HelveticaNeue-Medium.woff') format('woff'), url('fonts/HelveticaNeue-Medium.ttf') format('truetype'), url('fonts/HelveticaNeue-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Light.eot');
  src: local('☺'), url('../fonts/HelveticaNeue-Light.woff') format('woff'), url('fonts/HelveticaNeue-Light.ttf') format('truetype'), url('fonts/HelveticaNeue-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.wrapper {
  background-color: #fefefe;
  font-family: 'BebasNeue';
  color: #474747;
}
.content {
  display: flex;
  flex-direction: column;
}
.header {
  padding-top: 35px;
  padding-bottom: 50px;
}
.container {
  max-width: 940px;
  margin: 0px auto;
}
.header-content{
  display: flex;
  justify-content: space-between;
}
.logo {
}
.logo__link {
  font-family: Pacifico;
  color: #474747;
  font-size: 42px;
  line-height: 40px;
}
.header-menu {
  display: flex;
  flex: 0 1 550px;
  justify-content: space-around;
}
.header-menu__item {
  color: #474747;
}
.header-menu__title {
  font-size: 12px;
  line-height: 21px;
  color: #a5a5a5;
}
.header-menu__subtitle {
  line-height: 21px;
  font-size: 20px;
}
.body {
  flex: 1 1 auto;
}
.about {
  max-width: 55%;
  padding-bottom: 60px;
  padding-top: 20px;
}
.about__title {
  line-height: 18px;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.about__subtitle {
  font-family: 'HelveticaNeue';
  font-style: italic;
  line-height: 18px;
  font-size: 12px;
  color: #9e9e9e;
}
.title{
  font-size: 16px;
  color: #464646;
}
.right-title {

}
.split{
  display: flex;
}
.left-body {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.page-item {
  display: flex;
  flex-direction: column;
}
.page-text{
  display: flex;
  padding: 30px 0px;
}
.page-item__title {
  color: #464646;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 40px;
}
.page-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  justify-content: space-around;
}
.page-maininfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'HelveticaNeue';
  font-size: 12px;
  line-height: 20px;
}
.page__title {
  text-transform: uppercase;
  color: #464646;
}
.page__subtitle {
  color: #bababa;
}
.page-annotation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.annotation__text {
  font-family: 'HelveticaNeue';
  line-height: 18px;
  color: #414141;
  padding-bottom: 15px;
}
.annotation__text:last-child{
  padding-bottom: 0px;
}
.right-body {
}
.right-about__text {
  padding-bottom: 30px;
}
.categories {
}
.categories__title {
}
.list {
  color: #464646;
  font-size: 12px;
  font-family: 'HelveticaNeue';
  padding-top: 40px;
  padding-bottom: 30px;
}
.list__item {
  line-height: 18px;
}
.twitter-body{
  padding-top: 40px;
  padding-bottom: 30px;
  color: #464646;
  font-size: 12px;
  font-family: 'HelveticaNeue';
}
.twitter {
}
.twitter__title {
}
.twitter__item {
  line-height: 14px;
  padding-bottom: 15px;
}
.twitter__link {
  color: #bababa;
}
.twitter__time{
  line-height: 14px;
}

.footer {
  background-color: #f8f8f8;
}
.footer-text {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  color: #9b9b9b;
  padding: 10px 0px;
}
.footer-text span{
  color: #656565;
}
.footer-text__left {
}
.footer-text__right {
}
